/* Centrer le titre en blanc */
.page-title {
    text-align: center;
    color: white;
}

/* Styling pour le titre du film */
.film-title {
    color: white;
    font-weight: bold; /* Mettre le texte en gras */

}

/* Styling pour le résumé du film */
.film-description {
    color: white;
}

/* Styling pour la note du film */
.film-rating {
    color: white;
}

/* Styling pour le bouton "Voir plus" */
.btn-primary {
    background-color: red; /* Bouton rouge */
    color: white; /* Texte blanc */
    border-color: red; /* Bordure rouge */
}

/* Changement de couleur du bouton et texte au survol */
.btn-primary:hover {
    background-color: black; /* Bouton noir au survol */
    color: white; /* Texte blanc */
    border-color: black; /* Bordure noire */
}

/* Supprimer le fond blanc de la carte */
.card {
    background-color: transparent;
    border: none;
}

/* Ajout de l'effet de zoom et de la lueur rouge au survol de l'image */
.film-image {
    height: 500px; /* Taille fixe de 500 pixels */
    width: auto; /* Largeur automatique pour maintenir l'aspect ratio */
    max-width: 100%; /* Limiter la largeur à 100% pour s'adapter au conteneur */
    object-fit: cover; /* Redimensionner l'image pour couvrir complètement le conteneur */
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Ajout de la transition pour une animation fluide */

    /* Effet de zoom au survol */
    &:hover {
        transform: scale(1.05); /* Zoom de l'image */
    }
}

/* Ajout de la lueur rouge autour de l'image au survol */
.film-image:hover {
    box-shadow: 0 0 20px 5px #e53637; /* Lueur rouge */
}
